*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
  color: #111111;
  background-color: #f6f6f6;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.parallax {
  height: 20rem;
  grid-column: full-start / full-end;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column-reverse;
  padding: 2rem 0rem; }
  .parallax__box {
    padding: 0 5rem;
    background-color: #ffffff;
    opacity: 0.8; }

.parallax-1 {
  background-image: url(/assets/bg-1.jpg); }

.parallax-2 {
  background-image: url(/assets/bg-2.jpg); }

.parallax-3 {
  background-image: url(/assets/bg-3.jpg); }

.parallax-5 {
  background-image: url(/assets/bg-5.jpg); }

.parallax-6 {
  background-image: url(/assets/bg-6.jpg); }

.parallax-7 {
  background-image: url(/assets/bg-7.jpg); }

.parallax-8 {
  background-image: url(/assets/bg-8.jpg); }

.parallax-9 {
  background-image: url(/assets/bg-9.jpg); }

.parallax-10 {
  background-image: url(/assets/bg-10.jpg); }

.parallax-11 {
  background-image: url(/assets/bg-11.jpg); }

.parallax-12 {
  background-image: url(/assets/bg-12.jpg); }

.parallax-13 {
  background-image: url(/assets/bg-13.jpg); }

.parallax-14 {
  background-image: url(/assets/bg-14.jpg); }

.parallax-15 {
  background-image: url(/assets/bg-15.jpg); }

.navigation {
  grid-column: full-start / full-end;
  min-height: 4rem;
  padding: 0 1rem;
  background-color: #111111;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      flex-direction: column;
      align-items: flex-start; } }
  .navigation__list {
    list-style: none;
    line-height: 4rem; }
  .navigation__item {
    display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    transition: all 0.3s;
    display: inline-block;
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff; }
  .navigation__link:hover, .navigation__link:active {
    background-color: #f2511b;
    transform: scale(1.2); }

.header {
  position: relative;
  grid-column: full-start / full-end;
  background-image: url(/assets/bg-header.jpg);
  background-size: cover;
  z-index: 0;
  height: 100vh;
  min-height: 60rem; }

.header__placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }
  .header__placeholder--photo {
    margin: 0 auto;
    background-image: url(/assets/ml.png);
    background-size: cover;
    width: 25vw;
    height: 25vw;
    min-width: 20rem;
    min-height: 20rem;
    max-width: 25rem;
    max-height: 25rem;
    border-radius: 50%;
    border: 4px solid #ffffff; }
  .header__placeholder--links {
    margin-top: 2rem; }
    .header__placeholder--links ul {
      display: flex;
      justify-content: space-evenly; }
    .header__placeholder--links svg {
      transition: transform 0.2s;
      width: 4rem;
      height: 4rem;
      fill: #ffffff; }
      .header__placeholder--links svg:hover {
        transform: scale(1.2);
        fill: #f2511b; }

.heading-1 {
  line-height: 4rem;
  margin: 0 1rem;
  flex: 10; }
  .heading-1 a {
    color: #f2511b; }

.heading-2 {
  font-size: 2rem;
  color: #ffffff;
  min-width: 32rem;
  margin-top: 4rem; }

.heading-2-intro {
  font-size: 2.5rem;
  color: #000000;
  text-align: center; }

.heading-3 {
  color: #f2511b;
  font-size: 3rem; }

.heading-3-intro {
  color: #f2511b;
  font-size: 3rem;
  text-align: center; }

.video {
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden; }
  .video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  margin: 2rem;
  padding: 2rem;
  grid-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .courses {
      padding: 0; } }

.course {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  margin-left: 5rem;
  font-size: 1.6rem; }
  .course__img--caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
    .course__img--caption a:link, .course__img--caption a:visited {
      color: #ffffff; }
  .course:hover .course__img--caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .course:hover .course__img {
    transform: scale(2);
    filter: blur(3px) brightness(80%); }
  .course__shape {
    width: 10rem;
    height: 10rem;
    float: left;
    margin-left: -5rem;
    border: 6px solid white;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
  .course__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    transition: all .5s; }
  .course__text {
    padding: 1rem;
    overflow: hidden; }
  .course__title {
    font-size: 1.6rem;
    font-weight: 700; }
  .course__description {
    font-size: 1.4rem; }

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin: 2rem;
  padding: 2rem;
  grid-gap: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .projects {
      padding: 0; } }

.project {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
  font-size: 1.6rem;
  background-image: linear-gradient(120deg, #ffffff 0%, #f6f6f6 100%);
  transition: all .2s; }
  .project:hover {
    transform: scale(1.05); }
  .project__img {
    width: 100%;
    height: 20rem;
    object-fit: cover; }
  .project__title {
    margin: -1rem 0;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #ffffff;
    background: #3f3f3f;
    width: 100%; }
  .project__content {
    height: 20rem;
    padding: 2rem; }
    .project__content--title {
      font-size: 2rem; }
    .project__content--paragraph {
      font-weight: 700; }
    .project__content--list {
      columns: 2;
      padding: 1rem 2rem; }

a,
a:hover,
a:link {
  text-decoration: none;
  outline: none; }

/* debug */
section {
  grid-column: center-start / center-end; }

.intro {
  padding: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .intro {
      padding: 6rem; } }
  @media only screen and (max-width: 37.5em) {
    .intro {
      padding: 4rem; } }
  .intro__paragraph {
    font-size: 1.6rem;
    text-align: center; }

.footer {
  grid-column: full-start / full-end;
  background-color: #111111;
  color: #ffffff;
  padding: 0.5rem 2rem; }
