.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  margin: 2rem;
  padding: 2rem;
  grid-gap: 2rem;

  @include changeAt(phone) {
    padding: 0;
  }
}

  .course {
    box-shadow: 0 1rem 2rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    margin-left: 5rem;
    font-size: $default-font-size;

    &__img--caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;

        a {
          &:link,
          &:visited {
            color: $color-white;
          }
        }
    }

    &:hover &__img--caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
      transform: scale(2);
      filter: blur(3px) brightness(80%);
    }

    &__shape {
        width: 10rem;
        height: 10rem;
        float: left;
        margin-left:-5rem;
        border: 6px solid white;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
      padding: 1rem;
      overflow: hidden;
    }

    &__title {
      font-size: 1.6rem;
      font-weight: 700;
    }

    &__description {
      font-size: 1.4rem;
    }
}