h2 {
  color: $color-white;
  font-size: 2rem;
}

.heading-2 {
  position: absolute;
  min-width: 32rem;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

h3 {
  color: $color-black;
  font-size: 3rem;
}