@import "abstracts/mixins";
@import "abstracts/variables";
@import "base";
@import "parallax";
@import "nav";
@import "header";

@import "typography";

@import "components/video";

@import "courses";
@import "projects";

a,
a:hover,
a:link {
  text-decoration: none;
  outline: none;
}

/* debug */
section {
  // min-height: 500px;
  grid-column: center-start / center-end;
  // background-color: grey;
}

.intro {
  padding: 8rem;

  @include changeAt(tab-port) {
    padding: 6rem;
  }

  @include changeAt(phone) {
    padding: 4rem;
  }
  
  &__paragraph {
    font-size: 1.6rem;
    text-align: center;
  }
}



.general-info {
  // background-color: blueviolet;
}

.hobbies {
  // background-color: coral;
}

.cv {
  // background-color: darkmagenta; 
}

.footer {
  grid-column: full-start / full-end;
  background-color: $color-primary;
  color: $color-white;
  padding: 0.5rem 2rem;
}